/* Put your CSS here */
.ember-application {
    margin: 20px;
}

body{
	padding-top: 70px;
}
.nolist{
	padding-left: 0px;
}
.listing{
	list-style: none;
	display:block;
	margin-left: 0px;
}
.tab{
	border-left: 3px solid #ccc;
	display: inline-block;
	padding: 10px;
	padding-bottom: 30px;
	height: 100%;
	max-width: 300px;
	min-width: 200px;
	float: left;
}

.tab h2{
	font-size: 1.3em;
	margin-top: 0px;
}

.tab p{
	margin-bottom: 4px;
}

button{
	min-width: 80px;
}
